@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model DustTimers.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dust Timers</h1>
    <p class="lead">Quickly discover what times you need to be online for PC battles</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Click a corp ticker to view the upcoming battles. Bookmark and pin your corp's page to your phone's home screen so you can quickly check upcoming battles while away from DUST.
        </p>
        <p>
            EVE Online pilots can also use this as a quick way of knowing when to provide Orbital support.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Did you know?</h2>
        <p>You can quickly access a corp if you know the ticker. <br />e.g. [D-UNI] would be <a href="http://DustTimers.com/D-UNI">http://DustTimers.com/D-UNI</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>
            Corporations
        </h2>
        <table class="table">
            <tr>
                <th></th>
                <th>Corporation</th>
                <th>
                    under attack
                </th>
                <th>
                    total districts
                </th>
            </tr>

            @foreach (var corpDistrictDetails in Model.CorpDistrictDetails.OrderByDescending(p => p.DistrictsTotal))
            {
                <tr>
                    <td>
                        <img src="@(string.Format(@"http://image.eveonline.com/Corporation/{0}_{1}.png", corpDistrictDetails.CorporationId, 32))" />
                        @if (corpDistrictDetails.Ticker != null)
                        {
                            @Html.ActionLink(corpDistrictDetails.Ticker, "Ticker", "District", new { id = corpDistrictDetails.Ticker }, null);
                        }
                    </td>
                    <td>
                        @corpDistrictDetails.CorporationName
                    <td>
                        @corpDistrictDetails.DistrictsUnderAttack
                    </td>
                    <td>
                        @corpDistrictDetails.DistrictsTotal
                    </td>
                </tr>
            }
        </table>
    </div>
</div>